<!DOCTYPE html>
<html>
  <head>
    <title>EDM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/index.js'></script>
  </head>
  <body>
  	<div class="s-v">
		<table style="width:600px; height:500px" align="center" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="s-c">
		<label for="boxwidth">宽度</label>
		<input type="text" id="boxwidth" value="600" /></br>
		<label for="boxheight">高度</label>
		<input type="text" id="boxheight" value="500" /></br>
		<label for="boxbg">背景</label>
		<input type="text" id="boxbg" /></br>
		<button type="botton" id="boxsize">调整</button>
		</br>
		</br>
		</br>
		</br>
		<label for="width">宽度</label>
		<input type="text" name="width" id="width" /></br>
		<label for="height">高度</label>
		<input type="text" name="height" id="height" /></br>
		<label for="padding">内距</label>
		<input type="text" name="padding" id="padding" /></br>
		<label for="background">背景</label>
		<input type="text" name="background" id="background" /></br>
		<button type="button" id="tdchange">修改</button>
		</br>
		</br>
		</br>
		</br>
		分割单元格</br>
		<label for="direction">分割方向</label>
		<select name="direction" id="direction">
			 <option value ="vertical">垂直</option>
			<option value="horizontal">水平</option>
		</select></br>
		<label for="number">数量</label>
		<input type="text" name="number" id="number" /></br>
		<button type="button" id="divide">分割</button>
		</br>
		</br>
		</br>
		</br>
		独立单元格</br>
		<button type="button" id="independ">独立</button>
		</br>
		</br>
		</br>
		</br>
		<button type="button" id="done">完成并输出代码</button>
	</div>
  </body>
</html>
